@import "~@blueprintjs/core/dist/variables.less";

body {
    background-color: @dark-gray1;
}

.search-results > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        background-color: @dark-gray2;
        padding: 10px 20px 10px 20px;
        margin: 5px 5px 5px 5px;
    }

    > li:hover {
        background-color: @dark-gray3;
        cursor: pointer;
    }

    > li * {
        pointer-events: none;
    }
}

.pt-dark .pt-navbar, .pt-navbar {
    background-color: @dark-gray1;
    box-shadow: none;
}

#app-container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}

#concept-nav-panel {
    flex: 1 0 25%;
    background-color: @dark-gray1;
    width: 25%;
}

#concept-nav-panel.toggled {
    flex: 1 0 100%;
    background-color: @dark-gray1;
    width: 100%;
}

.hide, .hidden {
    display: none !important;
}

.left-of-panel {
    flex: 0 1 75%;
    padding: 20px;
    overflow: auto;
    background-color: @dark-gray2;
}

.left-of-panel.toggled {
    display: none;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.concept-bar {
    margin: 10px;
}

.concept-header {
    color: @light-gray5;
}

.concept-loadedtime {
    font-size: 12px;
    color: @dark-gray3;
}

.concept_nav_bar {
    max-width: 800px;
    margin: 10px auto 10px auto;
}

.block {
    background-color: @dark-gray2;
    padding: 30px;
    margin: 10px 0 0 0;
    min-height: 100%;
    width: 100%;

    .block {
        background-color: @dark-gray3;
        // padding: 30px;
        margin-bottom: 10px;

        .block {
            background-color: @dark-gray4;
            // padding: 30px;
            margin: 10px;
        }

        .block span h4, .block span h6 {
            display: inline;
        }
    }
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-box > div {
    max-width: 50%;
}


.inline-list {
    display: inline;
    padding: 0;
}

.inline-list li {
    display: inline;
    margin: 0 5px 0 5px;
    list-style-type: square;
}

.timeseries_chart {
    max-width: 100%;
}
