@import '~@blueprintjs/core/dist/variables.less';

.conceptNode {
    text {
        text-anchor: start;
        fill: @light-gray5;
    }
}

.conceptCircle {
    r: 8px;
    fill: @gray3;
    stroke: @light-gray2;
    stroke-width: 0;
    stroke-location: inside;
}

.toggle {
    .conceptCircle {
        stroke-width: 3;
    }

    &:hover {
        .conceptCircle {
            fill: @gray5;
            stroke: @light-gray5;
        }
    }
}

.toggle.toggled {
    .conceptCircle {
        stroke-width: 0;
    }
}

.displayedSlug {
    .conceptCircle {
        fill: @green3;
    }

    &:hover {
        .conceptCircle {
            fill: @green5;
        }
    }
}
