@import '~@blueprintjs/core/dist/variables.less';

#container {
    vertical-align: baseline;
}

rect {
    stroke-width: 0
}

.hierarchy-rect {
    fill: @gray4;
    width: 45px;
    height: 25px;
}

.hierarchy-rect:hover {
    fill: @gray3;
}

.ancestor-rect {
    stroke: @green3;
    stroke-width: 4;
}

.ancestor-rect:hover {
    stroke: @green2;
}

.selected-rect {
    fill: @green3;
}

.selected-rect:hover {
    fill: @green2;
}

.dot-line {
    stroke: @gray2;
    stroke-width: 1;
    stroke-dasharray: 3, 2;
}

#tooltip_content {
    fill: @light-gray1;
    font-size: 15px;
}
