@import '~@blueprintjs/core/dist/variables.less';

path {
    stroke: @dark-gray4;
    stroke-width: 2px;
    stroke-opacity: 1;
}

#chart {
    text-align: center;
}

#breadcrumbs {
    font-size: 15px;
    margin-top: 10px;

    li a {
        background-color: @dark-gray5;
        padding: 2px 5px 2px 5px;
    }
}

#info {
    text-anchor: middle;

    text {
        fill: #e7e7e7;
    }

    #header {
        alignment-baseline: baseline;
        font-size: 18px;
    }

    #sub {
        alignment-baseline: hanging;
        font-size: 13px;
    }
}

#values {
    text-align: center;
    margin: 6px 0 16px 0;

    #total, #relative, #absoluteValue {
        display: inline-block;
        padding: 10px;
        font-size: 15px;
        line-height: 15px;
        height: 35px;
        margin: 0;
    }

    #total {
        background-color: @dark-gray5;
    }

    #relative {
        background-color: @blue1;
    }

    #absoluteValue {
        background-color: @gray1;
    }

    #percentages {
        width: 100%;
        height: 35px;
        padding: 3px;
    }
}
